@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');


   div{
    margin-left: 250px;
    max-width: 60ch;
    max-height: auto;
   }

    figure{
        margin: 0;
    }

    nav{
        text-align: center;
    }

body{
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    background-color:#b3c9db
}

h1{
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    color: #230aa0;
    text-align: center;
}

h2{
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    color: #230aa0;
}

h3{
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    color: #230aa0;
}


p{
    line-height: 1.3;
}

figcaption{
    font-style: italic;
    font-size: 14px;
    color:  #568ff9;
}

a:link{
    color: #487cbc;
}

a:visited{
    color: #120167;
}

a:hover{
    color:#376399
}

a:active{
    color: #586f8b;
}